# git log --pretty=format:"\`%h <https://www.github.com/MilanSkocic/C_extension_demo/commit/%h>\`_ - %an, %ad : %s" > out.txt

*.o
*.obj
*.exe
*.dll
*.out
*.so
*.a
*.lib
*.cmake
*.mod

*.aux
*.blg 
*.out 
*.bbl 
*.log 
*.nlo 
*.lof 
*.lot 
*.toc 
*.bcf 
*.ilg 
*.xml 
*.nls 
*.ind
*.swp
*.nav
*.snm
*synctex.gz
*.zip
*.pdf
*.so
*.dll
*.dylib
*.pyd
*.pyc
*.o
*.obj
*.DS_Store
*.exe
*.dll
*egg*

.idea
.vscode

C/example_library/docs/doxygen/html
C/example_library/docs/doxygen/xml/
C/example_library/docs/doxygen/latex/
C/ast/CMakeFiles/
C/ast/CMakeCache.txt
C/ast/Makefile

C/tk_gui_C/doc/html/
C/tk_gui_C/doc/latex/
C/tk_gui_C/lib

C/gsl/doc/html
C/gsl/doc/latex

C_and_Fortran/doxygen/html
C_and_Fortran/doxygen/xml
C_and_Fortran/doxygen/latex


[hH][tT][mM][lL]
[xX][mM][lL]
[Ll][Aa][Tt][Ee][Xx]
[Bb][Uu][Ii][Ll][Dd]
[Cc][Aa][Cc][Hh][Ee]
[Tt][Aa][Gg][Ss]
[Ff][Aa][Pp][Pp]
[Cc][Aa][Pp][Pp]
[Dd][Ii][Ss][Tt]