# git log --pretty=format:"\`%h <https://www.github.com/MilanSkocic/C_extension_demo/commit/%h>\`_ - %an, %ad : %s" > out.txt

*.o
*.obj
*.exe
*.dll
*.out
*.so
*.a
*.lib
*.cmake

.idea

/example_library/docs/doxygen/html
/example_library/docs/doxygen/xml/
/example_library/docs/doxygen/latex/
/ast/CMakeFiles/
/ast/CMakeCache.txt

[Ma][Kk][Ee][Ff][Ii][Ll][Ee]
[Bb][Uu][Ii][Ll][Dd]
[Cc][Aa][Cc][Hh][Ee]
[Tt][Aa][Gg][Ss]
